on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Add aarch64 
        os: [ubuntu-latest, macos-latest, 'ubuntu-22.04'] 
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hatch
    - name: Check Formatting
      run: hatch fmt --check
    - name: Run tests
      run: hatch test

    # Set up QEMU for aarch64 emulation on non-aarch64 runners
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      if: runner.arch != 'arm64'  # Only run if not already on aarch64
      with:
        platforms: 'linux/arm64'

    # Set up aarch64 environment if on the 'ubuntu-22.04' runner
    - name: Set up aarch64 environment
      if: matrix.os == 'ubuntu-22.04'
      run: |
        sudo dpkg --add-architecture arm64
        sudo apt-get update
        sudo apt-get install -y --fix-missing \
          g++-aarch64-linux-gnu \
          gcc-aarch64-linux-gnu \
          libc6-dev:arm64 \
          libstdc++-10-dev:arm64

    - name: Build
      run: hatch build -t custom --platform linux_aarch64  # Specify aarch64 platform
    - name: Get NAR filename
      id: get_nar_filename
      run: |
        nar_filename=$(basename $(ls dist/*.nar)) # Extract only the filename
        echo "nar_filename=${nar_filename}" >> $GITHUB_OUTPUT
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.get_nar_filename.outputs.nar_filename }}
        path: dist/*.nar
